@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


body {
    background-color: hsl(30, 38%, 92%);
    }
    
    .caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #ccc;
    margin-left: 400px;
    margin-top: 100px;
    text-align: left;
    }
    
    .perfume {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
    text-align: left;
    }
    
    .imagem {
    width: 400px;
    height: 500px;
    margin-right: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    }
    
    .cartao {
    width: 100%;
    height: 90%;
    margin-right: 100px;
    text-align: left;
    }
    
    .titulo {
    font-family: 'Fraunces', serif;
    margin-left: 50px;
    align-items: center;
    white-space: pre-wrap;
    text-align: left; 
    }
    
    .texto-principal {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-left: 50px;
    text-align: left;
    }
    
    .precos {
    display: flex;
    flex-wrap: nowrap;
    text-align: left; 
    }
    
    .preco {
    font-family: 'Fraunces', serif;
    color: rgb(17, 146, 49);
    font-size: 30px;
    margin-left: 50px;
    text-align: left;
    }
    
    .preco-menor {
        font-family:'Montserrat', sans-serif;
        color: black;
        font-size: 15px;
        margin-left: 30px;
        margin-top: 40px;
        text-align: left;
    }
    
    .botao {
    background-color: rgb(17, 146, 49);
    color: #ffffff;
    margin-left: 50px;
    border-radius: 10px;
    width: 200px;
    border: none;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .icone {
        margin-right: 10px; 
        }
    
    .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 100px;
    }
    
    .attribution a {
    color: hsl(228, 45%, 44%);
    }